<!-- Facebook SDK for Javascript -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{{ fb_app_id}}',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<div id="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Chancen:reich 2016</h1>
                <h2>Anmeldung | Registration | التسجيل </h2>
            </div>
        </div>

        <div class="row mb-30">
        </div>

        <div class="row mb-30">
            <div class="col-sm-12 align-center mt-30">
                <h3 style="margin-top: 45px; margin-bottom: 0px; color: white; font-weight: 100;">
                    Folge uns | Follow us
                </h3>
                <ul class="social-network social-circle">
                    <li><a href="https://www.facebook.com/chancenreich2016" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="mailto:team@email.com" class="icoFacebook" title="Email"><i class="fa fa-envelope"></i></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
